################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MySandbox/FileContentIndex
/MauiTest/obj
/MauiTest/bin/Debug
/Bugs/ShadowIssue/bin/Debug
/.vs/MySandbox/DesignTimeBuild
/.vs/MySandbox/v17
/Bugs/ShadowIssue/obj
**/bin
**/obj

